{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Store</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo"> <i class="fas fa-paw"></i> shop </a>

      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#shop">shop</a>
        <a href="#appointment">appointment</a>
        <a href="#contact">contact</a>
      </nav>

      <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <a href="#" class="fas fa-shopping-cart"></a>
        <div class="fas fa-user" id="login-btn"></div>
      </div>

      <form action="" class="login-form">
        <h3>log in as an admin</h3>
        <input
          type="email"
          name=""
          placeholder="enter your email"
          id=""
          class="box"
        />
        <input
          type="password"
          name=""
          placeholder="enter your password"
          id=""
          class="box"
        />
        <div class="remember">
          <input type="checkbox" name="" id="remember-me" />
          <label for="remember-me">remember me</label>
        </div>
        <input type="submit" value="sign in" class="btn" />
        <div class="links">
          <a href="#">forget password</a>
          <a href="#">sign up</a>
        </div>
      </form>
    </header>



    <!-- <section class="home" id="home">

        <div class="content">
            <h3><span>hi</span> welcome to our pet shop</h3>
            <a href="#" class="btn">shop now</a>
        </div>

    </section>
 -->






    <script src="{% static 'home/scripts/script.js' %}"></script>
  </body>
</html>
